{% extends 'FamilyTreeBundle:Default:layout.html.twig' %}

{% block body %}

<h1>{{ family.name }}</h1>

{% for person in family.persons %}
	<a href="{{ path('family_tree_person', { 'id': person.id }) }}">{{ person }}</a> <br>
{% endfor %}

{% endblock %}