{% extends 'FamilyMainBundle:Default:layout.html.twig' %}

{% block titre %}Toutes les familles{% endblock %}

{% block principal %}
	Liste des familles :
	<br>
	{% for family in families %}
		<a href="{{ path('family_main_family', {'id' : family.id} ) }}">{{ family }}</a>
		<br>
	{% endfor %}

{% endblock %}
