{% extends 'FamilyMainBundle:Default:layout.html.twig' %}

{% block titre %}
	{{ family }}
{% endblock %}

{% block soustitre %}
	Les membres de cette famille :
	<a title="Options" href="{{  path('family_main_familySettings', {'id' : family.id} ) }}" class="pull-right">
		<span class="glyphicon glyphicon-cog"></span>
	</a>
{% endblock %}

{% block principal %}
	<div class="listOfFamilyMembers">
	{% for person in family.persons %}
		<a href="{{ path('family_main_person', {'id': person.id}) }}">{{person}}</a><br>
	{% endfor %}
	</div>
{% endblock %}
