{% extends 'FamilyMainBundle:Default:layout.html.twig' %}

{% block titre %}
	Ma famille
{% endblock %}

{% block soustitre %}
	Les membres de ma famille :
	<a title="Options" href="{{  path('family_main_familySettings', {'id' : app.user.person.family.id} ) }}" class="pull-right">
		<span class="glyphicon glyphicon-cog"></span>
	</a>
{% endblock %}

{% block principal %}
	<div class="accesArbres">
		
	</div>
	<div class="listOfFamilyMembers">
	{% for person in persons %}
		<a href="{{ path('family_main_person', {'id': person.id}) }}">{{person}}</a><br>
	{% endfor %}
	</div>

	<div class="h-separ"></div>

	<a href="{{ path('family_main_person_new') }}">Ajouter un membre à la famille</a>

{% endblock %}
