/*
	================ Style général ================
 */

body {
	/*background-color: #FFFFEE;
	background-color: #40424A;*/
	background-color: #E0CA97;
	z-index: 1;
	max-width: 1366px;
	margin-left: auto;
	margin-right: auto;
}

a, button.btn, input.btn[type="submit"] { color: #773F1E; }
a:hover, a:focus, button.btn:hover, button.btn:focus { color: #572F0E; }
a:visited, button.btn:visited { color: #572F0E; }

/*
	================ Barre latérale gauche ================
 */

.sidebar {
	padding: 5px 0 10px 15px;
	position: fixed;
	z-index: 10;
	max-width: 330px;
}

.sidebar > img.logo {
	display: block;
	margin: 20px auto 20px auto;
	width: 100px;
	height: 100px;
	background-color: grey;
}

.sidebar > * {
	margin-bottom: 20px;
}

.sidebar input.form-control, .sidebar .input-group a.btn {
	background-color: rgba(0, 0, 0, 0);
	border-width: 0px;
	box-shadow: none;
	height: 28px;
	margin-top: 7px;
	margin-bottom: 6px;
}

.sidebar > .nav {
	-webkit-box-shadow:inset 0 2px 8px 0 rgba(0,0,0,0.7);
	box-shadow:inset 0 2px 8px 0 rgba(0,0,0,0.7);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 1px;
	background-color: #CDB98C;
}

.sidebar .input-group {
	-webkit-box-shadow:inset 0 2px 5px 0 rgba(0,0,0,0.5);
	box-shadow:inset 0 2px 5px 0 rgba(0,0,0,0.5);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #CDB98C;
}

.sidebarSearchFormFocus {
	background-color: #BFAB7E !important;
}

.sidebar > .nav li a {
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #444;
}

.sidebar > .nav li.active a, .sidebar > .nav li:hover a, .sidebar > .nav li a:focus {
	background-color: rgba(130, 64, 59, 1);
	/*background-color: rgba(255, 56, 40, 0.3);*/
	color: #F7F7F7;
	-webkit-box-shadow: 0 0px 3px 0 rgba(0,0,0,0.4);
	box-shadow: 0 0px 3px 0 rgba(0,0,0,0.4);
}

.sidebar > .nav li.active:first-child a, .sidebar > .nav li:hover:first-child a {
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.sidebar > .nav li.active:last-child a, .sidebar > .nav li:hover:last-child a {
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

.sidebar > .nav li {
	z-index: 15;
	margin-top: 1px;
}

.sidebar > .nav li:first-child {
	margin-top: 0px;
}


/*
	================ Bloc central ================
 */

.principal {
	padding: 5px;
	z-index: 50;
	position: relative;
}


/*
	Bouton pour masquer / afficher le menu
 */

.principal #hideBtn {
	position: fixed;
	margin-top: 40px;
	margin-left: -10px;
	padding: 2px;
	background-color: #fff;
	color: grey;
	cursor: pointer;
	width: 25px;
	z-index: -1;
	-webkit-transition: width 500ms ease-out, margin-left 500ms ease-out;
	-moz-transition: width 500ms ease-out, margin-left 500ms ease-out;
	-ms-transition: width 500ms ease-out, margin-left 500ms ease-out;
	-o-transition: width 500ms ease-out, margin-left 500ms ease-out;
	transition: width 500ms ease-out, margin-left 500ms ease-out;
	-webkit-box-shadow: 0 0px 3px 0 rgba(0,0,0,0.4);
	box-shadow: 0 0px 3px 0 rgba(0,0,0,0.4);
}

.principal #hideBtn.closed {
	z-index: auto;
	text-align: right;
}

.principal #hideBtn.open:hover {
	width: 40px;
	margin-left: -20px ;
}

.principal #hideBtn.closed:hover {
	width: 40px;
	margin-left: -15px ;
}

.principal-sidebar-opened {
	padding-left: 25%;
}


.principal section {
	margin: 10px;
	background-color: #F3EEE7;
	min-height: 400px;
	-webkit-box-shadow: 0 2px 10px 0px rgba(0,0,0,0.9);
	box-shadow: 0 2px 10px 0px rgba(0,0,0,0.9);
}

.principal section>article, .principal section>h4 {
	padding: 0 10px 0 10px;
	margin-top: 10px;
}

/*
	En-tête de titre, rouge
 */

header.titre {
	background-color: #82403B;
	color: #FFF;
	box-shadow: 0 2px 3px 2px rgba(0,0,0,0.3);
}

header.titre h1 {
	padding: 10px;
	margin-left: 5px;
}

header.titre .menu {
	position: absolute;
	right: 40px;
	top: 25px;
}

header.titre .menu > * {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	color: rgba(250, 234, 224, 0.7);
	border-left: 1px solid #92504B;
	border-bottom: 1px solid #92504B;
	text-decoration: none;
	margin-right: -5px;
	color: rgba(255, 255, 255, 0.7);
}

header.titre .menu > *:last-child {
	border-right: 1px solid #92504B;
}

header.titre .menu > *:hover {
	background-color: #92504B;
	color: rgba(250, 234, 224, 1);
}

/*
	================ Page Famille ================
 */

#listOfFamilyMembers {
	-moz-column-count: 3;
	-moz-column-gap: 5px;
	-webkit-column-count: 3;
	-webkit-column-gap: 5px;
	column-count: 3;
	column-gap: 5px;
}

#familyMembersFiltering {
	margin: 10px 0;
}

/*
	================ Page Personne ================
 */

#personId #parent1, #personId #parent2, #personId #freressoeurs, 
#personId #person, #personId #relations, #personId #childrenGen .enfant {
	border: 1px grey dotted;
	margin-bottom: 20px;
	padding: 5px;
}

#personDocs {
	padding: 10px 0;
	text-align: center;
}

#personDocs .docsTitle {
	text-align: left;
	margin-bottom: 10px;
}

#personDocs .docFrame {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	background-color: #EADAA7;
	padding: 10px;
	margin-right: 10px;
	height: 110px;
	width: 100px;
	border: 1px solid #DACA97;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	-webkit-transition: background 500ms;
	-moz-transition: background 500ms;
	-ms-transition: background 500ms;
	-o-transition: background 500ms;
	transition: background 500ms;
}

#personDocs .docFrame:last-child {
	padding-top: 30px;
	background-color: #E3DED7;
}

#personDocs .docFrame:hover {
	background-color: #E0CA97;
}

#personDocs .docFrame:last-child:hover {
	background-color: #EADAA7;
}

#personDocs .docFrame img {
	min-width: 50px;
	height: 75px;
	max-width: 80px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 3px;
}

#personDocs .noDoc {
	display: inline-block;
	margin-top: 40px;
	margin-right: 20px;
	font-style: italic;
}

#personId b, #personDocs b {
	color: #666;
}

/*
	================ Page Editer une personne ================
 */

#editPerson #relation-list > li {
	padding: 5px 0;
	margin: 0 auto;
}

#editPerson #relation-list > li:hover {
	background-color: #E3DED7;
}

#editPerson #relation-list > li > .glyphicon-remove {
	color: #A77F5E;
	text-decoration: none;
}

#editPerson #relation-list > li > .glyphicon-remove:hover {
	color: #773F1E;
}

#editPerson #relation-list > .h-separ:last-child {
	display: none;
}
	
/*
	================ Pages Document ================
 */

#docPage .row {
	text-align: center;
	padding: 10px 0;
}

/*
	================ Page Toutes les familles ================
 */

.namesCloudContainer {
	height: 300px;
	width: 300px;
	display: inline-block;
}

.namesCloudContainer:hover {
	background-color: #E3DED7;
	cursor: pointer;
}

/*
	================ Utilitaires ================
 */

.h-separ {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #FFF;
}

.v-separ {
	border-left: 1px solid #CCC;
	border-right: 1px solid #FFF;
	display: inline-block;
	margin: 0 5px;
}

.overme {
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

/*
	================ Pied-de-page ================
 */

footer {
	text-align: center;
	color: grey;
}