* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div {
	vertical-align: top;
}

#container {
	text-align: center;
	overflow: scroll;
	width: 3000px;
}

.blocks {
	display: inline-block;
}

.element {
	margin: 20px;
	margin-top: 0px;
	padding: 5px;
	display: inline-block;
	height: 100px;
	text-align: left;
	font-size: 12px;
	border: 1px solid #BBBBBB;
}

.element.male {
	background-color: #CCDDFF;
}

.element.female {
	background-color: #FCD7D8;
}

.union {
	display: inline-block;
	margin-top: 35px;
	margin-bottom: 100px;
}

.element .photo {
	height: 98px;
	width: 75px;
	background-color: #fff;
	display: inline-block;
	border: 1px solid #BBBBBB;
	border
}

.element .content {
	padding-left: 5px;
	width: 125px;
	display: inline-block;
}

.element .name {
	font-weight: bold;
}